.pink {
    color: var(--pink);
}

.green {
    color: var(--green);
}

.skills {
    columns: 1;

    @media only screen and (min-width: 940px) {
        columns: 2;
    }
}

.skillsListItem {
    line-height: 1.25;
    margin: 1rem 0;
    color: var(--white);
}

.experiences {
    columns: 1;
}

.experiencesListItem {
    line-height: 1.25;
    margin: 1rem 0;
    color: var(--white);
}

.terminalParagraph {
    margin: 1rem 0;
    color: var(--white);
}

.hobbiesListItem {
    margin: 1rem 0;
    color: var(--white);
}

.terminalAnchor {
    animation: changeColors 3s infinite;
    font-weight: bold;
}

.terminalAnchor:visited {
    animation: changeColors 3s infinite;
    font-weight: bold;
}

@keyframes changeColors {
    0% {
        color: #00a47f;
    }

    33.3% {
        color: #1d91e3;
    }

    66.6% {
        color: #d419fe;
    }

    100% {
        color: #00a47f;
    }
}